<h2 id="a1"><b>Full Stack Web Application: Expense Tracker</b></h2>
<p id="a2">Description: Used SSMS, API, and Angular to make this full expense tracker app. Used stored procedures, Dapper, HttpGet Controllers, Angular components, Angular Services to make this web app. Learned a lot on a web applications worked&#40;ie. how the front end gets data from the database&#41;</p>
<div class="test" id="a3">
    <img class="image1" src="assets/fswa/fswaAPI2.jpg" alt="fswaAPI2">
    <img class="image1" src="assets/fswa/fswaCircle.jpg" alt="fswaCircle">
    <img class="image1" src="assets/fswa/fswaList.png" alt="fswaList">
    <img class="image2" src="assets/fswa/fswaSQL.png" alt="fswaSQL">
    <img class="image2" src="assets/fswa/fswaUIService.png" alt="fswaUIService">
    <img class="image2" src="assets/fswa/fswaUISubscribe.png" alt="fswaUISubscribe">
</div>

<br><br><br>
<h2 id="a4"><b>Space Invader</b></h2>
<p id="a5">Description: When making this game, got orignial idea from youtube, but added way more to it compared to previous games I created. Different menus, enemies, boss, pause, health, multiple shots, and a good ending screen depneding on how the player did. <a href="https://github.com/SammySaysSo/spaceinvader.git" target="_blank">Click to see or download the code</a></p>
<div class="test" id="a6">
    <img class="image1" src="assets/spaceInvader/siStart.png" alt="siStartPic">
    <img class="image1" src="assets/spaceInvader/siGameBegin.png" alt="siGameBeginPic">
    <img class="image1" src="assets/spaceInvader/siInstruct.png" alt="siInstructPic">
    <img class="image2" src="assets/spaceInvader/siGameMiddle.png" alt="siGameMiddlePic">
    <img class="image2" src="assets/spaceInvader/siEnd.png" alt="siEndPic">
    <img class="image2" src="assets/spaceInvader/siGameBoss.png" alt="siGameBossPic">
</div>

<br><br><br>
<h2 id="a7"><b>Snake</b></h2>
<p id="a8">Description: When I was first learning about object oriented programming in high school, I used a youtube video to help make this game. I added some of my own code with it as well. Normal snake game with a song. <a href="https://github.com/SammySaysSo/snake.git" target="_blank">Click to see or download the code</a></p>
<div class="test" id="a9">
    <img class="image1" src="assets/snake/snakeStart.png" alt="snakeStartPic">
    <img class="image1" src="assets/snake/snakeCodeStart.png" alt="snakeCodeStartPic">
    <img class="image1" src="assets/snake/snakeInGameSmall.png" alt="snakeInGameSmallPic">
    <img class="image2" src="assets/snake/snakeCodeMiddle.png" alt="snakeCodeMiddlePic">
    <img class="image2" src="assets/snake/snakeInGameBig.png" alt="snakeInGameBigPic">
    <img class="image2" src="assets/snake/snakeCodeEnd.png" alt="snakeCodeEndPic">
</div>

<br><br><br>
<h2 id="a10"><b>Finish The song</b></h2>
<p id="a11">Description: A game I made that has a song playing in the background. The goal is to dodge the blocks until the song ends&#40;ie. Finish The Song&#41;. Has basic moving mechanics with scoring. <a href="https://github.com/SammySaysSo/fts.git" target="_blank">Click to see or download the code</a></p>
<div class="test" id="a12">
    <img class="image1" src="assets/fts/ftsStart.png" alt="ftsStartPic">
    <img class="image1" src="assets/fts/ftsCredits.png" alt="ftsInGamePic">
    <img class="image1" src="assets/fts/ftsInGame.png" alt="ftsCreditsPic">
    <img class="image2" src="assets/fts/ftsComplete.png" alt="ftsInstructtPic">
    <img class="image2" src="assets/fts/ftsInstruct.png" alt="ftsEndingePic">
    <img class="image2" src="assets/fts/ftsEnding.png" alt="ftsCompletePic">
</div>