<header>
    <div class="mainHeader">
        <p class="mainHeader1">Disclaimer: I don't own anything on this. Just using this for a personal project.</p>
        <a href="https://www.airbnb.com/" target="_blank" class="mainHeader2">Learn more</a>
        <p class="mainHeader3">|</p>
        <a href="https://www.airbnb.com/" target="_blank" class="mainHeader4">Watch the Rooms film</a>
    </div>
</header>
<body>
    <div class="topHeader1">
        <a href="https://www.airbnb.com/" target="_blank">
            <img class="airLogo" src="assets/airbnbLogo.png" alt="airBnbLogo" style="width:40px;height:40px;">
            <p class="topHeader1Left"><b>airbnb</b></p>
        </a>
        <button class="topHeader1Middle">
            <div class="topHeader1Buttons">
                <button class="topHeader1Text"><b>Anywhere</b></button>
                <p class="topHeader1Lines">|</p>
                <button class="topHeader1Text" (click)="lol();"><b>Any week</b></button><p class="topHeader1Lines">|</p><button class="topHeader1Text">Add guests</button>
                <button class="searchBtn"><mat-icon class="searchBtnIcon">search</mat-icon></button>
            </div>
        </button>
        <div class="test">
            <button class="topHeader1Right"><mat-icon class="topHeader1RightIcon">language</mat-icon></button>
        </div>
        <a href="https://www.airbnb.com/host/homes" target="_blank">
            <button class="topHeader1RightRight">Airbnb your home</button>
        </a>
    </div>
    <hr>
    <p>lol{{firstNaming}}</p>
    <h1>THIS PROJECT IS STILL BEING BUILT</h1>
</body>
<footer>
    <p>footerrr</p>
</footer>