<div class="allExperience">
  <h2 class="education"><b><a href="https://www.linkedin.com/in/sam-brey-291041261/" target="_blank">Click here to go to my LinkedIn Profile</a></b></h2>
  <h2 class="education"><b>EDUCATION</b></h2>
  <ul>
    <li class="li1">Bachelor of Science in Computer Science & Engineering <i>Expected May 2025</i></li>
    <li class="li2">Master of Engineering in Computer Science & Engineering <i>Expected May 2026</i></li>
    <li class="li2">Minor in Mathematicas <i>Expected May 2025</i></li>
    <li class="li3">At J.B. Speed School of Engineering, University of Louisville, Louisville, Kentucky <i>GPA 3.97/4.00 Hours Completed: 91</i></li>
    <div class="img1Start"><img class="image1" src="assets/computerSciencePic.jpg" alt="computerSciencePic"></div>
    <img class="image2" src="assets/computerSciencePic2.jpg" alt="computerSciencePic2">
  </ul>
  <br>
  <p class="appliSci"><u>Other Applied Sciences:</u></p>
  <ul>
    <li class="li4">High School Diploma <i>Graduated 2021</i></li>
    <li class="li5">Jefferson Community and Technical College <i>Took 2020-2021</i></li>
    <li class="li6">Eastern Kentucky University <i>Took 2021</i> GPA 4.0/4.0</li>
  </ul>
  <br>
  <h2 class="skills"><b>SKILLS</b></h2>
  <ul>
    <li class="li7"><u>Programming Languages:</u> C, C#, C++, Python, Java, Javascript, & Typescript. Also comfortable with HTML, CSS, SCSS, & SQL</li>
    <li class="li8"><u>Other:</u> Angular, GIT, Dapper, .NET, & Node</li>
    <li class="li9"><u>Relevant Classes:</u> Data Structures, Logic Design, Discrete Structures, Software Engineering, Embedded Systems & Algorithms </li>
  </ul>
  <br>
  <h2 class="appliSciExp"><b>APPLIED EXPERIENCE</b>
    <img class="image3" src="assets/csharp.png" alt="csharpPic">
    <img class="image4" src="assets/dotNet.png" alt="dotNetPic">
  </h2>
  <ul>
    <li class="li10"><u>C#:</u> Created a functional API for a web application</li>
    <li class="li11"><u>Javascript/Typescript:</u> Created frontend UI for web application&#40;Linking to API & using HTML, CSS, & SCSS&#41;</li>
    <li class="li12"><u>Python:</u> Made multiple games with advanced object oriented programming&#40;Space Invader & Snake&#41;</li>
    <li class="li13"><u>SQL:</u> Made stored procedures in SQL Server Management Studio that links with the API using Dapper that uses with web applications</li>
    <li class="li14"><u>SQL:</u> Made migration scripts&#40;Over 4500+ lines of SQL code moving dev website to QA website to then PROD&#41;</li>
  </ul>
  <br>
  <h2 class="work"><b>WORK EXPERIENCE</b></h2>
  <ul>
    <li class="li15"><u>The Rawlings Group(2 rotations):</u> co-op/intern rotation for application development. Worked on web apps and many projects for the company, created a full stack web app, and worked in an app dev team <i>January 2023 - May 2023</i></li>
    <li class="li16"><u>Teacher Assitant:</u> Grade hundreds of papers for calculus while working with professors at University of Louisville, J.B. Speed School of Engineering <i>January 2022 - present</i></li>
    <li class="li17"><u>GE&#40;General Electric&#41; Appliances:</u> Worked on the line as a team building home appliances <i>May 2021 - August 2021</i></li>
    <li class="li18"><u>Other:</u> CSAA (Catholic School Athletic Association) basketball official <i>2019 - 2020</i></li>
    <li class="li19"><u>Other:</u> CSAA volleyball referee, football referee <i>2018 - 2020</i></li>
  </ul>
  <br>
  <h2 class="activity"><b>ACTIVITIES/HONORS</b>
    <img class="image5" src="assets/API.png" alt="apiPic">
    <img class="image6" src="assets/computerPun.jpg" alt="computerPunPic">
  </h2>
  <ul>
    <li class="li20">Dean list and scholar for University of Louisville</li>
    <li class="li21">President for University of Louisville Men&#39;s Club Volleyball</li>
    <li class="li22">Played in national tournaments in Club indoor and sand volleyball</li>
    <li class="li23">Volunteer at Catholic Charities of Louisville and Red Cross Home Fire Campaign</li>
    <li class="li24">Tutored peers for free in calculus</li>
  </ul>
</div>
<!-- <p>insert cost of new expense: </p>
<input type="number" id="newCost" name="newCost">
<p>insert name of new expense: </p>
<input type="text" id="newName" name="newName">
<button (click)="getValues()">Confirm new expense</button> -->