<div class="allTimeLine">
    <h2 class="yearText" id="a1">
        2020
    </h2>
    <h4 class="monthText" id="a2">
        February
    </h4>
    <p class="textTimeLine2" id="a3">
        Created my own orignial finish the song game, or FTS for short. Created this game as my final project for Eastern Kentucky University when I was in high school.
        <img class="image" src="assets/fts/ftsStart.png" alt="ftsLogo" style="width:100px;height:100px;">
    </p>
    <p class="middleLine" id="a4">|</p>
    <p class="middleLine" id="a5">|</p>
    <h4 class="monthText" id="b1">
        November
    </h4>
    <div id="a6">
        <p class="textTimeLine1">
            Created a copy of snake. Learning more advanced object oriented programming and wanted to create a game from it. Learning from youtube and added some of my own touches to the game. Used as a learning technique for me.
        </p>
    </div>
    <p class="middleLine" id="a7">|</p>
    <br>
    <br>

    <h2 class="yearText" id="a8"><!--2021 ************************************************************************************ 2021-->
        2021
    </h2>
    <h4 class="monthText" id="a9">
        May
    </h4>
    <div id="a10">
        <p class="textTimeLine1">
            Graduated high school, finished dual credit classes within highschool at Jefferson Community and Technical College and Eastern Kentucky University. 
        </p>
    </div>
    <p class="middleLine" id="a11">|</p>
    <p class="middleLine" id="a12">|</p>
    <p class="textTimeLine2" id="a13">
        May-August. General Electric summer job between the time of graduating high school and starting college. Worked in the factory as a line worker.
        Doing a variety of tasks as wiring, working as a team, etc...
        <img class="image" src="assets/General_Electric_logo.png" alt="General_Electric_logo" style="width:100px;height:100px;">
    </p>
    <p class="middleLine" id="a14">|</p>
    <p class="middleLine" id="a15">|</p>
    <h4 class="monthText" id="a16">
        August
    </h4>
    <p class="textTimeLine2" id="a17">
        Started College at University of Louisville, to get Computer Science and Engineering degree. Joined the Men's Club Volleyball Team.
        <img class="image" src="assets/UofLLogo.png" alt="UofL_logo" style="width:100px;height:100px;">
    </p>
    <p class="middleLine" id="a18">|</p>
    <br>
    <br>

    <h2 class="yearText" id="a19"><!--2022 ************************************************************************************ 2022-->
        2022
    </h2>
    <h4 class="monthText" id="a20">
        January
    </h4>
    <div id="a21">
        <p class="textTimeLine1">
            January-present. Was picked to become a teacher assistant for calculus program. Grading hundreds of calc 1, calc 2, and calc 3 papers. 
            As well as working with professors and other graders.
        </p>
    </div>
    <p class="middleLine" id="a22">|</p>
    <p class="middleLine" id="a23">|</p>
    <h4 class="monthText" id="a24">
        September
    </h4>
    <div id="a25">
        <p class="textTimeLine1">
            Created a minature copy of Space Invader. Learning from the techniques from Youtube, added a lot of my own ideas to the game. Different menus, enemies, health, boss, etc...
        </p>
    </div>
    <p class="middleLine" id="a26">|</p>
    <br>
    <br>

    <h2 class="yearText" id="a27"><!--2023 ************************************************************************************ 2023-->
        2023
    </h2>
    <h4 class="monthText" id="a28">
        January
    </h4>
    <p class="textTimeLine1" id="a29">
        I researched and build my own PC. Self taught from no knowledge at all. Learned everything all on Youtube.
        <a href="https://pcpartpicker.com/user/SammySaysSo/saved/MTZgnQ" target="_blank">Click to see the PC parts that I use</a>
    </p>
    <p class="middleLine" id="a30">|</p>
    <p class="middleLine" id="a31">|</p>
    <p class="textTimeLine2" id="a32">
        January-May. Co-op/intern at a company called The Rawlings Group. Was part of the App Dev team. Worked with my own full stack web application. Worked on many projects and applications for the company.
        Learned about SSMS, APIs, Angular, c#, typescript, javascript, git, SQL, and so so much more. 
        <img class="image" src="assets/rawlingsLogo.jpg" alt="rawlingsLogo" style="width:100px;height:100px;">
    </p>
    <br><br><br><br><br>
</div>
