<div class="headerButtons">
    <button id="h1" class="placeButton" mat-raised-button color="primary" (click)="h1Pressed();">Place Start</button>
    <button id="h2" class="placeButton" mat-raised-button color="primary" (click)="h2Pressed();">Place Wall</button>
    <button id="h3" class="placeButton" mat-raised-button color="primary" (click)="h3Pressed();">Place End</button>
    <button id="h4" class="placeButton" mat-raised-button color="primary" (click)="h4Pressed();">Begin Search</button>
    <button id="h5" class="placeButton" mat-raised-button color="primary" (click)="h5Pressed();">Clear Board</button>
</div>
<div class="grid-container">
    <button class="grid-item" id="b1" (click)="btnPress1();"></button>
    <button class="grid-item" id="b2" (click)="btnPress2();"></button>
    <button class="grid-item" id="b3" (click)="btnPress3();"></button>
    <button class="grid-item" id="b4" (click)="btnPress4();"></button>
    <button class="grid-item" id="b5" (click)="btnPress5();"></button>
    <button class="grid-item" id="b6" (click)="btnPress6();"></button>
    <button class="grid-item" id="b7" (click)="btnPress7();"></button>
    <button class="grid-item" id="b8" (click)="btnPress8();"></button>
    <button class="grid-item" id="b9" (click)="btnPress9();"></button>
    <button class="grid-item" id="b10" (click)="btnPress10();"></button>
    <button class="grid-item" id="b11" (click)="btnPress11();"></button>
    <button class="grid-item" id="b12" (click)="btnPress12();"></button>
    <button class="grid-item" id="b13" (click)="btnPress13();"></button>
    <button class="grid-item" id="b14" (click)="btnPress14();"></button>
    <button class="grid-item" id="b15" (click)="btnPress15();"></button>
    <button class="grid-item" id="b16" (click)="btnPress16();"></button>
    <button class="grid-item" id="b17" (click)="btnPress17();"></button>
    <button class="grid-item" id="b18" (click)="btnPress18();"></button>
    <button class="grid-item" id="b19" (click)="btnPress19();"></button>
    <button class="grid-item" id="b20" (click)="btnPress20();"></button>
    <button class="grid-item" id="b21" (click)="btnPress21();"></button>
    <button class="grid-item" id="b22" (click)="btnPress22();"></button>
    <button class="grid-item" id="b23" (click)="btnPress23();"></button>
    <button class="grid-item" id="b24" (click)="btnPress24();"></button>
    <button class="grid-item" id="b25" (click)="btnPress25();"></button>
    <button class="grid-item" id="b26" (click)="btnPress26();"></button>
    <button class="grid-item" id="b27" (click)="btnPress27();"></button>
    <button class="grid-item" id="b28" (click)="btnPress28();"></button>
    <button class="grid-item" id="b29" (click)="btnPress29();"></button>
    <button class="grid-item" id="b30" (click)="btnPress30();"></button>
    <button class="grid-item" id="b31" (click)="btnPress31();"></button>
    <button class="grid-item" id="b32" (click)="btnPress32();"></button>
    <button class="grid-item" id="b33" (click)="btnPress33();"></button>
    <button class="grid-item" id="b34" (click)="btnPress34();"></button>
    <button class="grid-item" id="b35" (click)="btnPress35();"></button>
    <button class="grid-item" id="b36" (click)="btnPress36();"></button>
    <button class="grid-item" id="b37" (click)="btnPress37();"></button>
    <button class="grid-item" id="b38" (click)="btnPress38();"></button>
    <button class="grid-item" id="b39" (click)="btnPress39();"></button>
    <button class="grid-item" id="b40" (click)="btnPress40();"></button>
    <button class="grid-item" id="b41" (click)="btnPress41();"></button>
    <button class="grid-item" id="b42" (click)="btnPress42();"></button>
    <button class="grid-item" id="b43" (click)="btnPress43();"></button>
    <button class="grid-item" id="b44" (click)="btnPress44();"></button>
    <button class="grid-item" id="b45" (click)="btnPress45();"></button>
    <button class="grid-item" id="b46" (click)="btnPress46();"></button>
    <button class="grid-item" id="b47" (click)="btnPress47();"></button>
    <button class="grid-item" id="b48" (click)="btnPress48();"></button>
    <button class="grid-item" id="b49" (click)="btnPress49();"></button>
    <button class="grid-item" id="b50" (click)="btnPress50();"></button>
    <button class="grid-item" id="b51" (click)="btnPress51();"></button>
    <button class="grid-item" id="b52" (click)="btnPress52();"></button>
    <button class="grid-item" id="b53" (click)="btnPress53();"></button>
    <button class="grid-item" id="b54" (click)="btnPress54();"></button>
    <button class="grid-item" id="b55" (click)="btnPress55();"></button>
    <button class="grid-item" id="b56" (click)="btnPress56();"></button>
    <button class="grid-item" id="b57" (click)="btnPress57();"></button>
    <button class="grid-item" id="b58" (click)="btnPress58();"></button>
    <button class="grid-item" id="b59" (click)="btnPress59();"></button>
    <button class="grid-item" id="b60" (click)="btnPress60();"></button>
    <button class="grid-item" id="b61" (click)="btnPress61();"></button>
    <button class="grid-item" id="b62" (click)="btnPress62();"></button>
    <button class="grid-item" id="b63" (click)="btnPress63();"></button>
    <button class="grid-item" id="b64" (click)="btnPress64();"></button>
    <button class="grid-item" id="b65" (click)="btnPress65();"></button>
    <button class="grid-item" id="b66" (click)="btnPress66();"></button>
    <button class="grid-item" id="b67" (click)="btnPress67();"></button>
    <button class="grid-item" id="b68" (click)="btnPress68();"></button>
    <button class="grid-item" id="b69" (click)="btnPress69();"></button>
    <button class="grid-item" id="b70" (click)="btnPress70();"></button>
    <button class="grid-item" id="b71" (click)="btnPress71();"></button>
    <button class="grid-item" id="b72" (click)="btnPress72();"></button>
    <button class="grid-item" id="b73" (click)="btnPress73();"></button>
    <button class="grid-item" id="b74" (click)="btnPress74();"></button>
    <button class="grid-item" id="b75" (click)="btnPress75();"></button>
    <button class="grid-item" id="b76" (click)="btnPress76();"></button>
    <button class="grid-item" id="b77" (click)="btnPress77();"></button>
    <button class="grid-item" id="b78" (click)="btnPress78();"></button>
    <button class="grid-item" id="b79" (click)="btnPress79();"></button>
    <button class="grid-item" id="b80" (click)="btnPress80();"></button>
    <button class="grid-item" id="b81" (click)="btnPress81();"></button>
    <button class="grid-item" id="b82" (click)="btnPress82();"></button>
    <button class="grid-item" id="b83" (click)="btnPress83();"></button>
    <button class="grid-item" id="b84" (click)="btnPress84();"></button>
    <button class="grid-item" id="b85" (click)="btnPress85();"></button>
    <button class="grid-item" id="b86" (click)="btnPress86();"></button>
    <button class="grid-item" id="b87" (click)="btnPress87();"></button>
    <button class="grid-item" id="b88" (click)="btnPress88();"></button>
    <button class="grid-item" id="b89" (click)="btnPress89();"></button>
    <button class="grid-item" id="b90" (click)="btnPress90();"></button>
    <button class="grid-item" id="b91" (click)="btnPress91();"></button>
    <button class="grid-item" id="b92" (click)="btnPress92();"></button>
    <button class="grid-item" id="b93" (click)="btnPress93();"></button>
    <button class="grid-item" id="b94" (click)="btnPress94();"></button>
    <button class="grid-item" id="b95" (click)="btnPress95();"></button>
    <button class="grid-item" id="b96" (click)="btnPress96();"></button>
    <button class="grid-item" id="b97" (click)="btnPress97();"></button>
    <button class="grid-item" id="b98" (click)="btnPress98();"></button>
    <button class="grid-item" id="b99" (click)="btnPress99();"></button>
    <button class="grid-item" id="b100" (click)="btnPress100();"></button>
  </div>
<p>Place an start block and an end block. Then hit begin search. This will find the path to get from the start to the end. Place walls to get more complex pathing!</p>
<h3 *ngIf="notPossible">Search not possible. Walls block the path</h3>
